body{
    height: 100%;
    width: 100%;
    background-color: lightpink;
}

*{
    margin:0;
    padding: 0;
}

.searchInput{
    margin-top: 2%;
}

.nav-group{
    float: left;
    float: top;
    margin-top: 2%;
    width: 100%;
}
